/myvenv
/.venv
frontend/node_modules
.env
cleanup_db.py
reset_db.py
alembic.ini
app.db
backend/alembic
backend/app/__pycache__
backend/app/api/v1/__pycache__
backend/app/api/v1/endpoints/__pycache__
backend/app/core/__pycache__
backend/app/db/__pycache__
backend/app/models/__pycache__
backend/app/schemas/__pycache__
backend/app/services/__pycache__
backend/app/utils/__pycache__
backend/static/uploads